
<head>
  <title>Welcome</title>
</head>
<h1> Posted successfully</h1>
<% @contents.each do |content| %>
  Title: <h2><%=content.title %></h2>
  Description: <h3><%=content.description %></h3>
  Summary: <p><%=content.comments %></p>

  <hr>
<% end %>
